/* Variables */
.slider, .slide, .slides-container {
  max-height: 520px;
  height: 520px;
}
@media screen and (min-width: 992px) {
  .slider, .slide, .slides-container {
    /*(height/width)*100*/
    height: 0;
    padding-bottom: 27.0833333333%;
  }
}

.slider {
  overflow: hidden;
  position: relative;
  margin-top: 60px;
}
@media screen and (min-width: 992px) {
  .slider {
    margin-top: 80px;
  }
}
@media screen and (min-width: 992px) {
  .slider .slide {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
  }
}
.slider .slide img {
  display: none;
}
.slider .slick-prev {
  left: 15px;
}
.slider .slick-next {
  right: 15px;
}
.slider .slick-prev::before, .slider .slick-next::before {
  font-size: 40px;
}
.slider .slick-prev, .slider .slick-next {
  display: none;
  width: 40px;
  height: 40px;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .slider .slick-prev, .slider .slick-next {
    display: block;
  }
}
.slider .slick-dots {
  bottom: 15px;
}

.slide-text-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
  z-index: 100;
}

.slide-title {
  margin: 0;
  font-size: 3.6rem;
  color: #fff;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 992px) {
  .slide-title {
    font-size: 5rem;
  }
}

.slide-description {
  font-size: 2rem;
  color: #fff;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}