@import '_mixins_and_variables.scss';
.header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid $highlight-primary-color;
    background-color: $light-accent;
    z-index: 200;
    @include transition(all 0.5s ease-in-out);
    @include box-shadow($shadow);
    @include linear-gradient(to bottom, #fff, 30%, #f5f5f5, 100%);


    @media screen and (min-width: $breakpoint-lg) {
        height: 80px;
    }

    

}

.header-container {
    @media screen and (min-width: $breakpoint-lg) {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


.logo-link {
    display: block;
    width: 75px;
    padding: 10px 0;

    @media screen and (min-width: $breakpoint-lg) {
        width: 110px;
    }


    img {
        display: block;
        width: 100%;
    }
}

.nav-icon {
    display: block;
    width: 40px;
    height: 26px;
    position: absolute;
    top: 50%;
    right: 20px;
    background-color: transparent;
    @include transform(translateY(-50%));
    @include transition(all 0.3s ease-in-out);
    cursor: pointer;

    @media screen and (min-width: $breakpoint-lg) {
        display: none;
    }


    span {
        display: block;
        width: 100%;
        height: 5px;
        position: absolute;
        left: 0;
        background-color: $highlight-primary-color;
        @include border-radius(2px);
        @include transform(rotate(0deg));
        @include transition(all 0.25s ease-in-out);

        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2), &:nth-child(3) {
            top: 10px;
        }
        &:nth-child(4) {
            top: 20px;
        }
    }

    &.active span {
        &:nth-child(1), &:nth-child(4) {
            width: 0%;
            top: 18px;
            left: 50%;
        }
        &:nth-child(2) {
            @include transform(rotate(45deg));
        }

        &:nth-child(3) {
            @include transform(rotate(-45deg));
        }
    }
}

.main-nav {
    /*DISPLAY, VISIBILITY AND OVERFLOW PROPERTIES*/
    overflow: auto;

    /*BOX MODEL PROPERTIES*/
    width: 320px;
    height: 100%;
    padding: 0;

    /*POSITIONING PROPERTIES*/
    position: fixed;
    top: 60px;
    right: -100%;
    bottom: 0;

    /*FONT PROPERTIES*/
    @include linear-gradient(to top, #fff, 30%, #f5f5f5,100%);
    @include box-shadow($shadow);
    @include transition(all 0.3s ease-in-out);


    /*MEDIA QUERIES*/
    @media screen and (min-width: $breakpoint-lg) {
        overflow: visible;
        width: auto;
        position: static;
        background-color: transparent;
        box-shadow: none;
    }


    /*SUB CLASSES AND EFFECTS*/
    &.active {
        right: 0;
        @include transition(all 0.3s ease-in-out);
    }

    a {
        display: block;
        border-bottom: 1px solid $highlight-primary-color;
        padding: 12px 20px;
        position: relative;
        font-family: $primary-font;
        font-weight: bold;
        font-size: 1.4rem;
        text-align: right;
        text-transform: uppercase;
        line-height: 22px;
        color: #444;


            @media screen and (min-width: $breakpoint-lg) {
            display: inline-block;
            padding: 0 20px 8px;
            border-bottom: none;
        }
        &::before, &::after {
            content: "";
            opacity: 0;
            width: 50%;
            height: 2px;
            position: absolute;
            bottom: 0;
            background-color: $highlight-primary-color;
            @include transition(all 0.5s ease-in-out);
        }

        &::before {
            left: 0;
            @include transform(translateX(-100%));
        }

        &::after {
            right: 0;
            @include transform(translateX(100%));
        }

        &:hover, &.active {
            color: #005587;
            @include transition(all 0.5s ease-in-out);

            &::before, &::after {
                opacity: 1;
                transform: none;
            }
        }
    }
}