@import '_mixins_and_variables.scss';


/*COMMON SECTION STYLES*/
.main-content {
    width: 100%;
    background-color: #e4e0e0;
    @include box-shadow($shadow);
}
.content-section, .banner-section {
    padding-top: 40px;
    padding-bottom: 60px;
    position: relative;
}
.banner-section {
    .section-heading, .section-text {
        color: $light-accent;
        @include text-shadow($shadow);
    }
    .section-heading::after {
        background-color: $light-accent;
    }
}

.anchor-target {
    height: 1px;
    position: absolute;
    top: -60px;

    @media screen and (min-width: $breakpoint-lg) {
        top: -80px;
    }
}

.section-heading {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 16px;
    position: relative;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;

    &::after {
        content: "";
        display: block;
        width: 40px;
        height: 2px;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #575a5b;
    }
}

.section-text {
    width: 100%;
    margin: 0 auto 20px;
    font-size: 1.8rem;
    text-align: center;

    @media screen and (min-width: $breakpoint-lg) {
        width: 60%;
    }

}

/*ABOUT SECTION*/
.about-section {
    background-color: #fff;
}
.about-author {
    .quote {
        margin-bottom: 15px;
        padding: 30px 25px;
        @include border-radius(12px);
        background-color: #d4d1d1b8;
        position: relative;
    }

    h4 {
        margin: 0;
        font-style: italic;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 26px;
        color: #575a5b;
    }

    .fa {
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 1.4rem;
        line-height: 28px;
        column-rule: #d5d9da;

        &.fa-quote-right {
            top: auto;
            left: auto;
            right: 16px;
            bottom: 16px;
        }
    }

    .author {
        margin-bottom: 15px;
        position: relative;
        text-align: right;

        .info {
            padding-left: 100px;
            font-size: 1.4rem;
            font-weight: 600;
            color: #242a30;
        }

        small {
            display: block;
            font-size: 1.2rem;
            font-weight: 400;
            columns: #999;
        }
    }

    .image {
        overflow: hidden;
        width: 100px;
        height: 100px;
        border: 5px solid $light-accent;
        position: absolute;
        left: -10px;
        top: -50px;
        background-color: $light-accent;

        @include border-radius(50%);

        img {
            max-width: 100%;
            @include border-radius(50%);
        }
    }
}

/*SERVICES SECTION*/
.info-card {
    padding: 20px 0;
    text-align: center;

    .fa {
        font-size: 6rem;
        color: $highlight-primary-color;
        line-height: 70px;
    }
}

/*TECH SECTION*/

.tech-section {
    background: transparent url(/WEBSITEV1/OnePagerWebSite/assets/images/slide-image-1.jpg) no-repeat fixed center center;
    background-size: cover;
}

.tech-card {
    padding: 20px 0;
    text-align: center;

    h3 {
        margin-top: 10px;
        font-size: 1.8rem;
        font-weight: bold;
        color: $light-accent;
        @include text-shadow($shadow);
    }
}

/*TEAM SECTION*/
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    perspective: 1000px;
    margin: 20px 0;

}

.flip-card-inner {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    text-align: center;
    @include transition(transform 1s);
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    @include border-radius(50%);
    
}

.flip-card-front {
    background-color: #bbb;
    color: black;

    img {
        width: 100%;
    }
}
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    @include transform(rotateY(180deg));
}
.flip-card:hover .flip-card-inner {
    @include transform(rotateY(180deg));
}
