@import '_mixins_and_variables.scss';

.slider {
    overflow: hidden;
    max-height: 520px;
    height: 520px;
    position: relative;
    margin-top: 60px;


    .slide {
        max-height: 520px;
        height: 520px;

        img {
            display: none;
        }
    }
}

.slide-text-container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    @include transform(translateY(-50%));
    z-index: 100;
}

.slide-title {
    margin: 0;
    font-size: 3.6rem;
    color: $light-accent;
    text-shadow: $shadow;
} 

.slide-description {
    font-size: 2rem;
    color: $light-accent;
    text-shadow: $shadow;
} 