@import '_mixins_and_variables.scss';

.slider, .slide, .slides-container {
    max-height: 520px;
    height: 520px;

    @media screen and (min-width: $breakpoint-lg) {
        /*(height/width)*100*/
        height: 0;
        padding-bottom: 27.083333333333333%;
    }
}

.slider {
    overflow: hidden;
    position: relative;
    margin-top: 60px;

    @media screen and (min-width: $breakpoint-lg) {
        margin-top: 80px;
    }
    

    .slide {
        
        @media screen and (min-width: $breakpoint-lg) {
        
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 100%;
    }

        img {
            display: none;
        }

    }

    .slick-prev {
            left: 15px;
        }

    .slick-next {
        right: 15px;
    }

    .slick-prev::before, .slick-next::before {
        font-size: 40px;
    }

    .slick-prev, .slick-next {
        display: none;
        width: 40px;
        height: 40px;
        z-index: 100;

        @media screen and (min-width : $breakpoint-md) {
            display: block;
            
        }
    }

    .slick-dots {
        bottom: 15px;
    }
}



.slide-text-container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    @include transform(translateY(-50%));
    z-index: 100;
}

.slide-title {
    margin: 0;
    font-size: 3.6rem;
    color: $light-accent;
    text-shadow: $shadow;

    @media screen and (min-width: $breakpoint-lg) {
        font-size: 5rem;
    }
} 

.slide-description {
    font-size: 2rem;
    color: $light-accent;
    text-shadow: $shadow;
} 